section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}

h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: lighter;
  color: #bf822f;

}

.title {
  width: inherit;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 10px;
}

.calender__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 600px;
  padding: 50px;
  background-color: white;
}

.calender__top {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bf822f;
}

.calender__container {
  margin-top: 15px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.calender__mid {

  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  background-color: #bf822f;
}


.calender__mid span {
 
  width: 50px;
  height: 50px;
  display: flex;
    justify-content: center;
    align-items: center;
  

}
.btn
{
  padding: 12px 25px;
}
.btn__find
{
  padding: 12px 40px;
}

